{% extends 'base.html'%}
{% block content %}
<div class="container">
    <div class="row">
        <h2 class="login-sec">My Services</h2>
        <div class="row">
            <div class="col-12">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col">Item</th>
                    <th scope="col">Service Name</th>
                    <th scope="col">Service Type</th>
                    <th scope="col">Date Launched</th>
                    <th scope="col">Status</th>
                    <th scope="col">Service Type</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>VM1-Windows 10 Std Edition</td>
                    <td>VM</td>
                    <td>2.846</td>
                    <td>2.846</td>
                    <td>2.846</td>
                    <td>
                      <button type="button" class="btn btn-primary"><i class="far fa-eye"></i></button>
                      <button type="button" class="btn btn-success"><i class="fas fa-edit"></i></button>
                    <button type="button" class="btn btn-danger"><i class="far fa-trash-alt"></i></button>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>VM2-Ubuntu Std 20.1</td>
                    <td>VM</td>
                    <td>2.846</td>
                    <td>2.846</td>
                    <td>2.846</td>
                    <td>
                      <button type="button" class="btn btn-primary"><i class="far fa-eye"></i></button>
                      <button type="button" class="btn btn-success"><i class="fas fa-edit"></i></button>
                    <button type="button" class="btn btn-danger"><i class="far fa-trash-alt"></i></button>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>VM3-VAPP-CMP15.2.0</td>
                    <td>App</td>
                    <td>2.846</td>
                    <td>2.846</td>
                    <td>2.846</td>
                    <td>
                      <button type="button" class="btn btn-primary"><i class="far fa-eye"></i></button>
                      <button type="button" class="btn btn-success"><i class="fas fa-edit"></i></button>
                    <button type="button" class="btn btn-danger"><i class="far fa-trash-alt"></i></button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
        
    </div>
    

</div>
{% endblock %}