{% extends 'base.html'%}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col login-sec">
            <h2 class="">Launch Product</h2>
            <a class="btn btn-primary" href="{{url_for('userservicelist')}}"><i class="fa fa-step-backward"
                    aria-hidden="true"></i>&nbsp;Go Back</a>
            <button id="add-row" class="btn btn-primary" onclick='addrow()'><i class="fa fa-plus" aria-hidden="true"></i> Add Row</button>
            <button id="remove-row" class="btn btn-primary" onclick='removerow()'><i class="fa fa-trash" aria-hidden="true"></i> Delete Row
            </button>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th><input id='ch1' type="checkbox" id=selectall></th>
                    <th>Customer</th>
                    <th>Product</th>
                    <th>Version</th>
                    <th>Component</th>
                    <th># Instances</th>
                    <th># HDD</th>
                    <th> Size of HDD</th>
                    <th>RAM</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <input type="checkbox">
                    </td>
                    <td>
                        <select>
                            <option>Nugget</option>
                            <option>MGM</option>
                            <option>SG-Internal</option>
                        </select>
                    </td>
                    <td>
                        <select>
                            <option>CMP</option>
                            <option>BI</option>
                            <option>IView</option>
                        </select>
                    </td>
                    <td>
                        <select>
                            <option>16.0.1</option>
                            <option>16.0.2</option>
                            <option>13.0.1</option>
                        </select>
                    </td>
                    <td>
                        <select>
                            <option>AppServer</option>
                            <option>DBServer</option>
                            <option>Instance</option>
                        </select>
                    </td>
                    <td>
                        <input type="text">
                    </td>
                    <td>
                        <input type="text">
                    </td>
                    <td>
                        <input type="text">
                    </td>
                    <td>
                        <input type="text">
                    </td>
                </tr>
                
            </tbody>
        </table>
    </div>

    <div>
        <button class="btn btn-primary">Submit Request <i class="fa fa-arrow-right" aria-hidden="true"></i></button>
    </div>

    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript">
    function addrow(){
        $('body > div  div  div.row  table  tbody').last().append(
            '<tr>'+
                    '<td>'+
                        '<input type="checkbox">'+
                    '</td>'+
                    '<td>'+
                        '<select>'+
                            '<option>Nugget</option>'+
                            '<option>MGM</option>'+
                            '<option>SG-Internal</option>'+
                        '</select>'+
                    '</td>'+
                    '<td>'+
                        '<select>'+
                            '<option>CMP</option>'+
                            '<option>BI</option>'+
                            '<option>IView</option>'+
                        '</select>'+
                    '</td>'+
                    '<td>'+
                        '<select>'+
                            '<option>16.0.1</option>'+
                            '<option>16.0.2</option>'+
                            '<option>13.0.1</option>'+
                        '</select>'+
                    '</td>'+
                    '<td>'+
                        '<select>'+
                            '<option>AppServer</option>'+
                            '<option>DBServer</option>'+
                            '<option>Instance</option>'+
                        '</select>'+
                    '</td>'+
                    '<td>'+
                        '<input type="text">'+
                    '</td>'+
                    '<td>'+
                        '<input type="text">'+
                    '</td>'+
                    '<td>'+
                        '<input type="text">'+
                    '</td>'+
                    '<td>'+
                        '<input type="text">'+
                    '</td>'+
                '</tr>'
        );
    }
    function removerow(){
        console.log('Hello World');
        $('body > div > div > div.row > table > tbody > tr').last().remove()
    }
</script>
    
    {% endblock %}
    
 
   
