{% extends 'base.html'%}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col login-sec">
            <h2 class="">Launch Product</h2>
            <p class="card p-3" style="background-color: rgb(243, 243, 243);">Select your customer and you will be able to see the associated Products and Components for the customer. Then you can add additional details to create your launch configuration.
                Once you have decided on the launch configuration submit your request. Your request will be queued and once the infrastructure is provisioned you will recieve an email with details.
            </p>
            <a class="btn btn-primary" href="{{url_for('userservicelist')}}"><i class="fa fa-step-backward"
                    aria-hidden="true"></i>&nbsp;Go Back</a>
            <button id="add-row" class="btn btn-primary" onclick='addrow()'><i class="fa fa-plus" aria-hidden="true"></i> Add Row</button>
            <button id="remove-row" class="btn btn-primary" onclick='deleterow()'><i class="fa fa-trash" aria-hidden="true"></i> Delete Row
            </button>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th><input type="checkbox" id=selectall></th>
                    <th>Customer</th>
                    <th>Product</th>
                    <th>Version</th>
                    <th>Component</th>
                    <th># Instances</th>
                    <th># HDD</th>
                    <th> Size of HDD</th>
                    <th>RAM</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <input type="checkbox">
                    </td>
                    <td>
                        <select id=1>
                            <option value=1>Nugget</option>
                            <option value=2>MGM</option>
                            <option value=3>SG-Internal</option>
                        </select>
                    </td>
                    <td>
                        <select id=2 onchange='selectversion()'>
                            <option value=1>CMP</option>
                            <option value=2>BI</option>
                            <option value=3>SDS</option>
                        </select>
                    </td>
                    <td>
                        <select id=3>
                            <option value=1>16.0.1</option>
                            <option value=2'>16.0.2</option>
                            <option value=3'>13.0.1</option>
                        </select>
                    </td>
                    <td>
                        <select id=4 value=2>
                            <option value=1>AppServer</option>
                            <option value=2>DBServer</option>
                            <option value=3>Interface</option>
                        </select>
                    </td>
                    <td>
                        <input type="text">
                    </td>
                    <td>
                        <input type="text">
                    </td>
                    <td>
                        <input type="text">
                    </td>
                    <td>
                        <input type="text">
                    </td>
                </tr>
                
            </tbody>
        </table>
    </div>

    <div>
        <button id="submit" class="btn btn-primary" onclick='submit()' >Submit Request <i class="fa fa-arrow-right" aria-hidden="true"></i></button>
        <button id="submit" class="btn btn-danger" onclick='submit()' >Cancel <i class="fa fa-trash" aria-hidden="true"></i></button>
    </div>

    
<script type="text/javascript">
    function addrow(){
        $('body > div > div > div.row > table > tbody').last().append(
            '<tr>'+
                    '<td>'+
                        '<input type="checkbox">'+
                    '</td>'+
                    '<td>'+
                        '<select disabled>'+
                            '<option>Nugget</option>'+
                            '<option>MGM</option>'+
                            '<option>SG-Internal</option>'+
                        '</select>'+
                    '</td>'+
                    '<td>'+
                        '<select>'+
                            '<option>CMP</option>'+
                            '<option>BI</option>'+
                            '<option>IView</option>'+
                        '</select>'+
                    '</td>'+
                    '<td>'+
                        '<select>'+
                            '<option>16.0.1</option>'+
                            '<option>16.0.2</option>'+
                            '<option>13.0.1</option>'+
                        '</select>'+
                    '</td>'+
                    '<td>'+
                        '<select>'+
                            '<option>AppServer</option>'+
                            '<option>DBServer</option>'+
                            '<option>Instance</option>'+
                        '</select>'+
                    '</td>'+
                    '<td>'+
                        '<input type="text">'+
                    '</td>'+
                    '<td>'+
                        '<input type="text">'+
                    '</td>'+
                    '<td>'+
                        '<input type="text">'+
                    '</td>'+
                    '<td>'+
                        '<input type="text">'+
                    '</td>'+
                '</tr>'
        );
    }
    function deleterow(){
        $('body > div > div > div.row > table > tbody > tr').last().remove()
        console.log('Row Deleted');
    }

    function submit(){
            console.log('redirecttonewwindow')
            window.location = "http://127.0.0.1:5000/reviewinstances"        
            
       }
</script>
    
    {% endblock %}
    
 
   
