{% extends 'base.html'%}
{% block title %}LOGIN{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4 login-sec">
            <h2 class="">Login Now</h2>
            <form class="login-form" method="POST" action="{{url_for('login')}}">
                <div class="form-group">
                    <label class="text-uppercase">Username</label>
                    <input type="text" class="form-control" placeholder="enter your email id" name="userid">
                </div>
                <br>
                <div class="form-check p-1">
                    <button type="submit" class="btn btn-login">Submit</button>
                </div>

            </form>
            <div class="copy-text">Created with <i class="fa fa-heart"></i> by <b>Tools & Automation Team.</b></div>
        </div>
        <div class="col-md-8 banner-sec">
            <img class="d-block img-fluid" style=border-radius:20px; src= "{{url_for('static', filename="images/MissionVisionValues_1280x7208_.jpg")}}"
            alt="First slide">
        </div>
    </div>
    {% endblock %}