    <div class="container-fluid">
        <a class="navbar-brand" href="{{url_for('login')}}">
            <span><img src="{{url_for('static',filename = 'images/SG-Logo.png')}}"></span>
            <span style="color: darkorange;">SSPINFRA</span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('catalog')}}" id="" role="" data-toggle="" aria-haspopup="true" aria-expanded="false">
                        Service Catalog </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('myservices')}}" id="" role="" data-toggle="" aria-haspopup="true" aria-expanded="false">
                        My Services </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('login')}}" id="" role="" data-toggle="" aria-haspopup="true" aria-expanded="false">
                        User Setup </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('cisghome')}}" id="" role="" data-toggle="" aria-haspopup="true" aria-expanded="false">
                        CISG</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('logout')}}" id="" role="" data-toggle="" aria-haspopup="true" aria-expanded="false">
                        LogOut </a>
                </li>
            </ul>
<!--           <form class="d-flex">
            <span class="text-white p-2">Dark Mode: OFF</span>
            <label class="switch">
                <input type="checkbox"><span class="slider round"></span>
            </label>
            <span class="text-white p-2"> ON</span>
          </form> -->
        </div>
      </div>