{% extends 'base.html'%}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col login-sec">
            <h2 class="text-center">Create your Virtual Machine</h2>
            <form class="login-form">
                <div class="form-group">
                    <label for="exampleInputEmail1" class="text-uppercase">VMName</label>
                    <input type="text" class="form-control" placeholder="">

                </div>
                <div class="form-group">
                    <label for="exampleFormControlSelect1">VMSize</label>
                    <select class="form-control" id="exampleFormControlSelect1">
                        <option>1VCPU|2GBRAM|30GB HDD| Linux</option>
                        <option>2VCPU|4GBRAM|80GB HDD| WinServ</option>
                        <option>2VCPU|8GBRAM|100GB HDD| Linux</option>
                        <option>2VCPU|16GBRAM|200GB HDD| Linux</option>
                        <option>4VCPU|32GBRAM|500GB HDD| Linux</option>
                    </select>
            </div>
                <div class="form-group">
                <label for="exampleFormControlSelect1">Enable Auto Shutdown</label>
                <select class="form-control" id="exampleFormControlSelect1">
                    <option>7PM</option>
                    <option>8PM</option>
                    <option>9PM</option>
                    <option>10PM</option>
                    <option>11PM</option>
                </select>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1" class="text-uppercase">Project</label>
            <input type="password" class="form-control" placeholder="">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1" class="text-uppercase">Purpose</label>
            <input type="password" class="form-control" placeholder="">
        </div>
        <hr>
        <div class="form-group">
            <button type="submit" class="btn btn-login">Launch</button>
        </div>
        </form>
        <div class="copy-text">Created with <i class="fa fa-heart"></i> by <b>Tools & Automation Team.</b></div>
    </div>

</div>
{% endblock %}