{% extends 'base.html'%}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col login-sec">
            <h2 class="">Launch Product</h2>
            <a class="btn btn-primary" href="{{url_for('catalog')}}"><i class="fa fa-backward" aria-hidden="true"></i>&nbsp;Go Back</a>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Customer</th>
                    <th>Product</th>
                    <th>Version</th>
                    <th>Component</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <select>
                            <option>Nugget</option>
                            <option>MGM</option>
                            <option>SG-Internal</option>
                        </select>
                    </td>
                    <td>
                        <select>
                            <option>CMP</option>
                            <option>BI</option>
                            <option>IView</option>
                        </select>
                    </td>
                    <td>
                        <select>
                            <option>16.0.1</option>
                            <option>16.0.2</option>
                            <option>13.0.1</option>
                        </select>
                    </td>
                    <td>
                        <select>
                            <option>AppServer</option>
                            <option>DBServer</option>
                            <option>Instance</option>
                        </select>
                    </td>
                    <td>
                        <button class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> Add Row</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <select>
                            <option>Nugget</option>
                            <option>MGM</option>
                            <option>SG-Internal</option>
                        </select>
                    </td>
                    <td>
                        <select>
                            <option>CMP</option>
                            <option>BI</option>
                            <option>IView</option>
                        </select>
                    </td>
                    <td>
                        <select>
                            <option>16.0.1</option>
                            <option>16.0.2</option>
                            <option>13.0.1</option>
                        </select>
                    </td>
                    <td>
                        <select>
                            <option>AppServer</option>
                            <option>DBServer</option>
                            <option>Instance</option>
                        </select>
                    </td>
                    <td>
                        <button class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> Add Row</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    {% endblock %}