{% extends 'base.html'%}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col login-sec">
      <h2>My Service List: Welcome:{{user}} </h2>
      <p class="card p-3" style="background-color: rgb(243, 243, 243);">You have the following machines for following customers already provisioned with you. </p>
      <a class="btn btn-sg" href="{{url_for('launchinstances')}}"><i class="fa fa-plus"
          aria-hidden="true"></i>&nbsp;Request New Service</a>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <table class="table">
        <thead>
          <tr>
            <th>RequestID</th>
            <th>CUSTOMER</th>
            <th>PRODUCT</th>
            <th>VERSION</th>
            <th>COMPONENT</th>
            <th># INSTANCES</th>
            <th>ACTION</th>
          </tr>
        </thead>
        <tbody>
          {% for rows in tabledata %}
          <tr>
            <td>
              <text class="form-control" name="" id="" rows="3"><strong>{{rows['requestid']}}</strong></textarea>
            </td>
            <td>
              <text class="form-control" name="" id="" rows="3">{{rows['customer']}}</textarea>
            </td>
            <td>
              <text class="form-control" name="" id="" rows="3"><strong><i>{{rows['product']}}</i></strong></textarea>
            </td>
            <td>
              <text class="form-control" name="" id="" rows="3">{{rows['version']}}</textarea>
            </td>
            <td>
              <text class="form-control" name="" id="" rows="3">{{rows['component']}}</textarea>
            </td>
            <td>
              <text class="form-control" name="" id="" rows="3">{{rows['instances']}}</textarea>
            </td>
            <td>
              <button class="btn btn-primary"><i class="fa fa-eye" aria-hidden="true"></i></button>
              <button class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}