{% extends 'base.html'%}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col login-sec">
          <h2 >My Service List</h2>
        <a class="btn btn-primary" href="{{url_for('launchinstances')}}"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Request New Service</a>
      </div>
    </div>
        <div class="row">
            <div class="col-12">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Customer</th>
                    <th scope="col">Product</th>
                    <th scope="col">Version</th>
                    <th scope="col">Components</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th>1</th>
                    <td>Nugget</td>
                    <td>CMP</td>
                    <td>16.0.0</td>
                    <td>2</td>
                    <td>
                      <button type="button" class="btn btn-primary"><i class="far fa-eye"></i></button>
                    <button type="button" class="btn btn-danger"><i class="far fa-trash-alt"></i></button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
    </div>
</div>
{% endblock %}